@use '@shared/styles/mixins';

.skill-tag {
  @include mixins.text-caption;

  --skill-tag-padding: 8px 12px;
  --skill-tag-font-size: inherit;

  color: var(--color-text-primary);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: var(--skill-tag-padding);
  border-radius: 20px;
  overflow-wrap: break-word;
  text-align: center;
  user-select: none;
  font-size: var(--skill-tag-font-size);
  transition: var(--theme-transition);
}
