@use '@shared/styles/mixins' as m;
@use '@shared/styles/variables' as v;

.filters {
  inline-size: 324px;
  padding: 20px;
  background-color: v.$color-surface;

  &__header {
    @include m.text-h2;

    color: v.$color-text;
  }

  &__subheader {
    @include m.text-h3;

    color: v.$color-text;
  }

  &__content {
    @include m.flex(column, 32px);

    margin-block-start: 40px;
  }

  &__section {
    @include m.flex(column, 20px);
  }
}
