@use '@shared/styles/mixins' as *;

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 436px;
}

.icon {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

.title {
  @include text-h2;

  margin-top: 52px;
  margin-bottom: 12px;
  text-align: center;
}

.text {
  @include text-body;
  
  margin-bottom: 32px;
  text-align: center;
}

.button {
  width: 100%;
}
