@use '@shared/styles/variables' as *;
@use '@shared/styles/mixins' as *;

.filterHeading {
  @include text-h3;
  color: $color-text;
}

.citiesList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 12px;
  margin-top: 18px;
}

.toggleVisibility {
  display: flex;
  align-items: center;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  transition: opacity 0.2s;
}

.toggleVisibility:hover {
  opacity: 0.8;
}


.buttonLabel {
  font-family: $font-body;
  margin-right: 8px;
  color: $color-button-pressed;
  font-weight: 400;
  font-size: 16px;
}

.arrowIcon {
  width: 24px;
  height: 24px;
  margin-top: 3px;
  transition: transform 0.2s;
  fill: currentcolor;
}