@use '@shared/styles/variables' as *;
@use '@shared/styles/mixins' as m;

.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.socialButtons, .inputs {
  @include m.flex(column, 16px);

  width: 100%;
}

.formError {
  @include m.text-caption;

  width: 100%;
  color: $color-error;
  text-align: center;
}

.submitButton {
  width: 100%;
  margin-top: 8px;

  button {
    width: 100%;
  }
}
