@use '@shared/styles/variables' as *;
@use '@shared/styles/mixins' as *;

/* .form {
  display: flex;
  flex-direction: column;
  
  margin-top: 40px;
  width: 100%;
} */

.form {
	display: flex;
	flex-direction: column;
	max-width: 556px;
	max-height: 692px;
  //gap: 16px;
	margin: auto;
	padding: 50px 60px;
}

.input,
.input-name,
.input-category,
.input-subcategory,
.input-text-area {
  padding-block-end: 16px;
}

.dropdown {
padding-block-start: 48px;
}

.label {
  @include text-body;
	color: $color-text;
}

.input-grag-and-drop {
  padding-block-end: 32px;
}

.buttons {
  display: flex;
  gap: 20px;
  width: 100%;
}

.fullWidthButton {
  width: 100%;
  
}

.error {
  display: block;
  margin-block-start: 4px;
  font-size: 13px;
}

