@use '@shared/styles/variables' as *;
@use '@shared/styles/mixins' as *;

.profileRequests {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  padding: 16px 0;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cardList {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.emptyState {
  @include text-body;

  padding: 24px;
  text-align: center;
  color: $color-text-caption;
  background: $color-surface;
  border-radius: 12px;
}

.loader {
  @include text-body;

  padding: 24px;
  text-align: center;
  color: $color-text-caption;
  background: $color-surface;
  border-radius: 12px;
}
