.container {
  display: flex;
  margin: 0 25px;
  max-height: 48px;
  max-width: 527px;
}

.containerInput {
  border: none;
  width: 100%;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  background-color: #fff;
  caret-color: #508826;
  color: #69735D;
}

.containerInput::placeholder {
  color: #69735D;
}

.containerInput:focus {
  outline: none; 
}

.containerButton {
  background-color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
}
