@use '@shared/styles/variables' as *;
@use '@shared/styles/mixins' as m;

.notification {
  @include m.flex($align: center, $justify: center);
  
  position: relative;
  cursor: pointer;
  color: $color-text;
  transition: color 0.3s ease;

  &:hover {
    color: $color-text-link;
  }
}
