@use '@shared/styles/variables' as *;
@use '@shared/styles/mixins' as m;

.header {
  @include m.flex($gap: 32px, $align: center, $justify: left);

  height: 104px;
  background-color: $color-bg;
}

.navigation {
  @include m.flex($gap: 24px, $align: center, $justify: space-between);
}

.about {
  font-family: $font-body;
  text-decoration: none;
  color: $color-text;
}

.sign-in {
  padding-inline: 22.5px;
}

.sign-up {
  padding-inline: 23.5px;
}

.profile-icons {
  @include m.flex($gap: 20px, $align: center, $justify: space-between);
}

.profile-panel {
  @include m.flex($gap: 8px, $align: center, $justify: space-between);

  position: relative;

  &--authenticated {
    gap: 24px;
  }
}
