@use '@shared/styles/mixins' as m;
@use '@shared/styles/variables' as v;

.catalog {
  display: flex;
  gap: 24px;
  padding: 24px 0;
  width: 100%;

  &__filters {
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex-shrink: 0;
  }

  &__content {
    @include m.flex(column, 40px);

    flex: 1;
    min-width: 0;
    padding-block-start: 10px;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
  }

  @media (width <= 768px) {
    flex-direction: column;

    &__filters {
      width: 100%;
    }
  }
}
