@use '@shared/styles/mixins' as m;
@use '@shared/styles/variables' as v;

.filters {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  margin-bottom: 40px;
}

.section {
  & + & {
    margin-top: 40px;
  }
}

@media (width <= 768px) {
  .section {
    & + & {
      margin-top: 24px;
    }
  }
}