.container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  max-width: 1136px;
}

.header {
  grid-column: 1 / -1;
  width: 212px;
  margin: auto;
  height: 44px;
}

.left {
  grid-column: 1;
}

.right {
  grid-column: 2;
}

.left,
.right {
  max-width: 556px;
  max-height: 692px;
}
