@use '@shared/styles/variables' as *;
@use '@shared/styles/mixins' as m;

.container {
  @include m.flex(column, 32px);

  max-width: 1136px;
}

.header {
  @include m.flex(column, 40px);
}

.contentWrapper {
  @include m.flex(row, 24px);

  min-height: 692px;
}

.left {
  @include m.flex(column, $align: stretch, $justify: center);

  max-width: 556px;
  flex: 1;
  min-width: 0;
  background-color: $color-surface;
  border-radius: 12px;
  padding: 40px 60px;
}

.right {
  flex: 1;
  min-width: 0;
  background-color: $color-surface;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}
