@use './variables' as *;

@mixin text-h1 {
  font-family: $font-heading;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.011em;
}

@mixin text-h2 {
  font-family: $font-heading;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -0.011em;
}

@mixin text-h3 {
  font-family: $font-heading;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.011em;
}

@mixin text-h4 {
  font-family: $font-body;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

@mixin text-body {
  font-family: $font-body;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
}

@mixin text-caption {
  font-family: $font-body;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

@mixin button-reset {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  cursor: pointer;
}

@mixin flex($direction: row, $gap: 0, $align: normal, $justify: flex-start) {
  display: flex;

  @if $direction != row {
    flex-direction: $direction;
  }

  @if $align != normal {
    align-items: $align;
  }

  @if $justify != flex-start {
    justify-content: $justify;
  }

  @if $gap != 0 {
    gap: $gap;
  }
}

@mixin fixed-size($width, $height) {
  inline-size: $width;
  block-size: $height;
}
