// Шрифты
$font-heading: 'Jost', sans-serif;
$font-body: 'Roboto', sans-serif;

// Цвета - Текст
$color-text: #253017;
$color-text-caption: #69735d;
$color-text-disabled: #9ca197;
$color-text-link: #508826;

// Цвета - UI элементы
$color-accent: #abd27a;
$color-button-hover: #deebc5;
$color-button-pressed: #508826;
$color-toggle: #b2b9a9;
$color-disabled: #e4e8df;

// Цвета - Поверхности
$color-bg: #f9faf7;
$color-surface: #fff;

// Цвета - Статусы
$color-alarm: #e0796e;
$color-error: #bf3920;

// Цвета - Теги категорий
$color-tag-business: #eee7f7;
$color-tag-creative: #f7e7f2;
$color-tag-languages: #ebe5c5;
$color-tag-education: #e7f2f6;
$color-tag-home: #f7ebe5;
$color-tag-health: #e9f7e7;
$color-tag-other: #e8ecf7;
