// Шрифты
 $font-heading: 'Jost', sans-serif;
 $font-body: 'Roboto', sans-serif;

 // Цвета - Текст
 $color-text: #253017;
 $color-text-caption: #69735D;
 $color-text-disabled: #9CA197;
 $color-text-link: #508826;

 // Цвета - UI элементы
 $color-accent: #ABD27A;
 $color-button-hover: #DEEBC5;
 $color-button-pressed: #508826;
 $color-toggle: #B2B9A9;
 $color-disabled: #E4E8DF;

 // Цвета - Поверхности
 $color-bg: #F9FAF7;
 $color-surface: #FFF;

 // Цвета - Статусы
 $color-alarm: #E0796E;
 $color-error: #BF3920;

 // Цвета - Теги категорий
 $color-tag-business: #EEE7F7;
 $color-tag-creative: #F7E7F2;
 $color-tag-languages: #EBE5C5;
 $color-tag-education: #E7F2F6;
 $color-tag-home: #F7EBE5;
 $color-tag-health: #E9F7E7;
 $color-tag-other: #E8ECF7;