@use '@shared/styles/variables' as *;
@use '@shared/styles/mixins' as *;
@use '@shared/styles/utilities' as *;

.skillCard {
  display: flex;
  flex-direction: column;
  gap: 25px;
  background: $color-surface;
  border-radius: 12px;
  padding: 32px 52px 48px;
}

.buttonBlock {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: flex-end;
}

.likeButton {
  @extend %icon-button;
}

.likeIcon {
  width: 24px;
  height: 24px;
}

.shareButton {
  @extend %icon-button;
}

.shareIcon {
  width: 24px;
  height: 24px;
}

// Основной контент (описание + галерея)
.skillInfoBlock {
  display: flex;
  flex-direction: column;
  gap: 24px;

  // Desktop: две колонки
  @media (min-width: 768px) {
    flex-direction: row;
  }
}


// Левая колонка с описанием
.descriptionBlock {
  display: flex;
  flex-direction: column;
  // gap: 16px;
  flex: 1;

  div {
      overflow: hidden;
      @include hide-scrollbar;
    }

  // Кнопка "Подробнее" прижата к низу
  > button {
    margin-top: auto;
  }
}
