@use '@shared/styles/variables' as *;

.allSkillsDropdown {
  font-family: $font-body;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $color-text;
}

.allSkillsDropdownImg {
  width: 16px;
  height: 16px;
}

.skillModal {
  border: 1px solid $color-text;

  &[data-testid='modal'] {
    top: 94px;
    left: 36px;
    transform: none;
  }

  // change standard opacity for modals
  & + div[role='dialog'] {
    opacity: 0.2;
  }
}
