.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-rows: 104px 1fr auto;
  gap: 32px;
  min-height: 100vh;
}

.main {
  padding: 0 36px;
  width: 100%;
  box-sizing: border-box;
}
