@use '@shared/styles/variables' as *;

.arrowButton {
  width: 32px;
  height: 32px;
  border-radius: 100px;
  padding: 8px;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $color-disabled;
  color: $color-text-caption;
  transition: transform 0.08s ease, background-color 0.08s ease, opacity 0.08s ease;

  /* Иконка внутри кнопки */
  .icon {
    width: 16px;
    height: 16px;
    transform-box: fill-box;
    transform-origin: center;
    transition: transform 0.15s ease;
  }

  &:hover {
    background-color: $color-surface;
  }
  &:active {
    transform: translateY(1px);
  }
}

/* modifiers */
.left .icon {
 transform: rotate(180deg);
}

.right .icon {
  transform: rotate(0deg);
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}