@use '@shared/styles/variables' as *;
@use '@shared/styles/mixins' as *;

.arrowButton {
  @include button-reset;
  
  width: 32px;
  height: 32px;
  border-radius: 100px;
  padding: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: $color-disabled;
  color: $color-text-caption;
  transition: transform 0.08s ease, background-color 0.08s ease, opacity 0.08s ease;

  /* Иконка внутри кнопки */
  .icon {
    display: inline-flex;
    width: 16px;
    height: 16px;
    svg {
      width: 100%;
      height: 100%;
      stroke: $color-text;
      fill: none;
    }
  }

  &:hover {
    background-color: $color-surface;
  }
  &:active {
    transform: translateY(1px);
  }
}

/* modifiers */
.left {
  transform: rotate(180deg);
}

.right {
  transform: none;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}