@use '@shared/styles/variables' as *;
@use '@shared/styles/mixins' as *;

.divider {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  margin: 24px 0;
}

.line {
  flex: 1;
  height: 1px;
  background: $color-toggle;
}

.text {
  @include text-body;

  color: $color-text-caption;
  font-size: 14px;
  white-space: nowrap;
}

